@import "tailwindcss";

@layer components {
  .product-card {
    @apply bg-white overflow-hidden hover:shadow-xl transition-all duration-300 transform hover:-translate-y-2;
  }

  .product-image {
    @apply w-full h-full object-cover hover:scale-110 transition-transform duration-300;
  }

  .product-image-container {
    @apply overflow-hidden sm:h-67 md:h-62.5 xl:h-67 lg:h-65 h-65.5 sm:w-61.75 md:w-[328px] lg:w-[209px] xl:w-[267px] mx-auto;
  }

  .product-info {
    @apply p-5;
  }

  .product-title {
    @apply text-[15px] font-semibold text-gray-900 mb-3;
  }

  .product-price {
    @apply font-bold text-lg text-black font-sans;
  }

  .btn-primary {
    @apply bg-white text-[15px] text-yellow-700 border py-1.5 px-3 hover:bg-gray-200 transition-colors duration-200 font-semibold;
  }

  .btn-primary-full {
    @apply bg-yellow-800 text-white px-6 py-3 rounded-lg hover:bg-yellow-500 transition-colors duration-200 font-semibold w-full;
  }

  .btn-secondary {
    @apply bg-white text-gray-900 border border-gray-300 px-6 py-2 rounded-lg hover:bg-gray-100 transition-colors duration-200 font-semibold text-sm;
  }

  .section-title {
    @apply text-3xl font-bold text-gray-900 mb-2;
  }

  .section-subtitle {
    @apply text-gray-600 text-lg mb-10;
  }

  .input-field {
    @apply w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-700;
  }

  .form-label {
    @apply block text-gray-700 font-semibold mb-2;
  }
}
